{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": "airbnb-base",
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "eol-last": "off",
    "arrow-parens": ["warn","as-needed"],
    "operator-linebreak": "off"
  }
}