:root{
    --siddebar-width: 475px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: var(--siddebar-width);
    z-index: 100;
}

.main-content{
    margin-left: var(--siddebar-width);

}